<fieldset data-payment-target="additionalFields" data-type="2">
  <div class="my-5">
    <%= form.label :credit_cart_number %>
    <%= form.password_field :credit_cart_number, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :expiration_date %>
    <%= form.text_field :expiration_date,
                    class: "input-field",
                    size: 9,
                    placeholder: "e.g. 03/22" %>
  </div>
</fieldset>
