<fieldset data-payment-target="additionalFields" data-type="3">
  <div class="my-5">
    <%= form.label :po_number %>
    <%= form.password_field :po_number, class: "input-field" %>
  </div>
</fieldset>
