<%# inside a partial template, we refer to the current object by using the variable name that %>
<%# matches the name of the template. here, line_item %>

<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
  <td class="text-right">
    <%= line_item.quantity %>
  </td>
  <td>&times;</td>
  <td class="pr-2">
    <%= line_item.product.title %>
  </td>
  <td class="text-right font-bold">
    <%= number_to_currency(line_item.total_price) %>
  </td>
  <td>
    <%= button_to "Remove Item",
    line_item,
    method: :delete,
    class: "ml-4 rounded-lg py-1 px-2 text-white bg-red-600" %>
  </td>
</tr>
