<div class="w-full">
  <%= render "notice" %>

  <div class="flex justify-between mb-6 pb-2 border-b-2">
    <h1 class="font-bold text-xl">
      Your Pragmatic Catalog
    </h1>

    <%= render partial: "store_visit_count",
    locals: {
      store_visit_count: @store_visit_count,
    } %>
  </div>

  <%= turbo_stream_from "products" %>

  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: "product", object: product %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
